<a href="/movies/create" class="btn btn-success">New Movie</a> <br><br>
<div class="row">
  <% movies.forEach(function(movie) { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://picsum.photos/350/200" class="card-img-top" alt="<%= movie.title %>">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><strong>Year:</strong> <%= movie.release_year %></p>
          <p class="card-text"><strong>Description:</strong> <%= movie.description %></p>
          <% if (movie.rating) { %>
            <p class="card-text"><strong>Rating:</strong> <%= movie.rating %></p>
          <% } %>
          <a href="/movies/<%= movie.film_id %>" class="btn btn-primary mt-auto">Details</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>
