<h1 class="mb-4"><title><%= typeof title !== 'undefined' ? title : 'My App' %></title></h1>

<div class="row">
  <% movies.forEach(function(movie) { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="https://picsum.photos/350/200" class="card-img-top" alt="<%= movie.title %>">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text">Year: <%= movie.year %></p>
          <a href="/movies/<%= movie.film_id %>" class="btn btn-primary mt-auto">Details</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>